/* Wrapper général */
.contact-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 3rem 1rem;
  gap: 2rem;
}

/* Section formulaire */
.contact {
  flex: 1;
  text-align: center;
  
}

.contact h2 {
  padding-top: 100px;
  font-size: 2.2rem;
  padding-bottom: 1rem;
  color: var(--primary-color);
    text-align: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Champs */
.contact_form input,
.contact_form textarea {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  transition: border-color 0.2s ease;
}

.contact_form input:focus,
.contact_form textarea:focus {
  outline: none;
  border-color: #c6ac92;
}

.contact_form textarea {
  min-height: 250px;
  resize: vertical;
}

/* Bouton */
.contact_form button {
  padding: 0.9rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact_form button:hover {
  background-color: #b7997c;
}

/* Section infos */
.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-color);
}

.contact-info h2 {
  font-size: 2rem;
  color: var(--primary-color);
  padding-bottom: 1rem;
  text-align: center;
}

.contact-info .info-label {
  color: #c6ac92;
  font-weight: bold;
  font-size: 1.3rem;
}

.contact-info p {
  margin: 0.2rem 0 1.2rem 0;
  text-align: center;
}

.contact-info a {
  color: var(--text-color);
  text-decoration: underline;
}

.contact-info a:hover {
  text-decoration: none;
}
/* Desktop */
@media (min-width: 1024px) {
  .contact-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 5rem;
    gap: 4rem;
  }

  .contact {
    padding-right: 20px;
  }

  .contact,
  .contact-info {
    text-align: left;
  }

  .contact-info {
    position: relative;
    padding-top: 100px;
  }

  .contact-info::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 1px;
    height: calc(100% - 100px);
    background-color: var(--primary-color); /* ou une autre couleur visible */
  }



  /* .contact-info h2 {
    padding-top: 100px;
  } */


  .contact {
    flex: 0 0 55%;
  }

  .contact-info {
    flex: 0 0 45%;
  }
}

.message {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
