.hero-section {
    background-image: url('/asset/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    
    display: flex; /* Ajout Flexbox */
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical */
    text-align: center;      /* Pour centrer le texte à l’intérieur */
    z-index: -20;
  }
  
  
  .hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.4); /* Opacité = foncé */
    z-index: 0;
  }
  
  .hero-section h1 {
    position: relative;

    font-size: 3rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
  }
  .domain {
    display: flex;
    flex-direction: column;
  }

  .domain h2 {
    font-size: 2rem;
    padding: var(--padding-m);
    text-align: center;
    justify-content: center;
  }