/* Navbar générale */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: var(--padding-s);
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .logo img {
    height: 80px; /* ou plus selon ton besoin */
    object-fit: cover; /* couvre l'espace, effet zoomé */
  }
  
  .logo {
    font-weight: 700;
    font-size: 1.6rem;

    text-decoration: none;
    letter-spacing: 0.05em;
    user-select: none;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;

    height: auto;
    z-index: 10;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--nav-link);

    padding: 0.35rem 0.5rem;
    border-radius: 0.3rem;
    transition: var(--transition);
  }
  
  .nav-links li a:hover,
  .nav-links li a:focus-visible {
    color: var(--secondary-color);
    outline: none;
  }
  
  /* Nav utilisateur */
  .nav-user {
    display: flex;
    align-items: center;

    font-weight: 600;
  }
  
  .CTO {
    background-color: var(--nav-background);
  }
  .nav-user a {

    text-decoration: none;
    padding: 0.35rem 0.5rem;
    border-radius: 0.3rem;

  }
  
  .nav-user a:hover,
  .nav-user a:focus-visible {

    outline: none;
  }
  
  /* Burger menu - mobile */
  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .burger .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: var(--transition);
  }
  
  /* Responsive mobile */
  @media (max-width: 768px) {
    .burger {
      display: flex;
    }
  
    .nav-links {
      position: fixed;
      top: 100px;
      right: 0;
      /* height: calc(100vh - 64px); */

      backdrop-filter: blur(12px);
      flex-direction: column;
      align-items: center;
      padding: 2rem 1.5rem;
      gap: 1.5rem;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.3s ease;

      z-index: 999;
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  
    .nav-links li a {
      font-size: 1.1rem;
      width: 100%;
    }
  
    .nav-user {
      width: 100%;
    }
  }