:root {
    --primary-color : #c6Ac92;
    --secondary-color : #ffffff;
    --text-color : #777777;
    --nav-link : #ffffff90;
    --nav-background : #ffffff33;
    --background : rgba(198, 172, 146, 0.7);

    --padding-xs : 0.5rem;
    --padding-s : 1rem;
    --padding-m : 1.5rem;
    --padding-l : 2rem;
    --padding-xl : 2.5rem;

    --footer-background : #8b6f55; /* Marron chaud foncé */

}




*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;

}

